<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Add Annonce</h1>
<form action="/api/annonces" method="POST">
    <div>
        <label for="titre">Title:</label>
        <input type="text" id="titre" name="titre" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
    </div>
    <div>
        <label for="etatObjet">Condition:</label>
        <select id="etatObjet" name="etatObjet">
            <option value="CommeNeuf">Comme Neuf</option>
            <option value="TresBonEtat">Tres Bon Etat</option>
            <option value="Neuf">Neuf</option>
        </select>
    </div>
    <div>
        <label for="latitude">Latitude:</label>
        <input type="number" id="latitude" name="latitude" step="any" required>    
    </div>
    <div>
        <label for="longitude">Longitude:</label>
        <input type="number" id="longitude" name="longitude" step="any" required>
    </div>
    <div>
        <label for="typeDon">Donation Type:</label>
        <input type="checkbox" id="typeDon" name="typeDon">
    </div>
  
    <div>
        <label for="keywords">Keywords:</label>
        <input type="text" id="keywords" name="keywords" required>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>
